body {
    font-family: Arial, sans-serif;
    display: flex;
}

#sidebar {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
}

#content {
    flex-grow: 1;
    padding: 20px;
}

.folder {
    cursor: pointer;
}

.arrow {
    margin-left: 5px;
}

.notes {
    display: none;
}

.notes.active {
    display: block;
}
