/* Body styles */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: black;
    color: white;
}

/* Container styles */
.container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar styles */
.sidebar {
    width: 250px;
    background-color: black;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    border-right: 1px solid #444;
}

/* Navigation styles */
.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Navigation item styles */
.nav-item {
    margin-bottom: 10px;
}

/* Folder styles */
.folder {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px 0;
    color: white;
}

/* Carrot styles */
.carrot {
    margin-right: 10px;
    transition: transform 0.3s, color 0.3s;
}

/* Folder name styles */
.folder-name {
    transition: color 0.3s, font-weight 0.3s;
}

/* Hover styles for folder name */
.folder:hover .folder-name {
    color: #0366d6;
}

/* File list styles */
.file-list {
    list-style-type: none;
    padding-left: 20px;
    display: none;
}

/* File list item styles */
.file-list li {
    margin: 5px 0;
}

/* Link styles within file list */
.file-list li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 2px 0;
    transition: color 0.3s;
}

/* Hover and active styles for links */
.file-list li a:hover,
.file-list li a:active {
    color: orange;
}

/* Content styles */
.content {
    flex-grow: 1;
    padding: 20px;
    background-color: black;
    color: white;
    display: none; /* Hide initially */
}

/* Active note content styles */
.note-content.active {
    display: block; /* Show active note content */
}

/* Overview link styles */
#overview-link {
    color: white;
    font-weight: normal; /* Default font weight */
}

/* Overview link styles when active */
.overview-active {
    font-weight: bold; /* Bold font weight when active */
    color: orange; /* Orange color when active */
}
